/* Swagger UI Customization */
.swagger-container {
  --swagger-ui-bg: hsl(var(--background));
  --swagger-ui-text: hsl(var(--foreground));
  --swagger-ui-border: hsl(var(--border));
}

.swagger-ui .topbar {
  display: none;
}

.swagger-ui .info {
  margin: 30px 0;
}

.swagger-ui .scheme-container {
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 20px 0;
}
